// head

title CMU Computer Club - Keystorm Keysigning Party Server
link(rel="stylesheet",type="text/css",href="http://www.cmucc.org/html5reset.css")
link(rel="stylesheet",type="text/css",href="http://www.cmucc.org/style.css")