// resources

ul
  li: a(href="http://www.thegeekstuff.com/2012/10/gnupg-basics/") GPG Command Basics
  li: a(href="http://www.apache.org/dev/key-transition.html") Transitioning keys
  li: a(href="http://cryptnet.net/fdp/crypto/keysigning_party/en/keysigning_party.html") About keysigning parties