// top

#header
  #logotype
    img(src="http://www.cmucc.org/logo.png",alt="Carnegie Mellon Computer Club")
  #menu
    a(href="/") HOME
    |  &nbsp; | &nbsp; 
    a(href="/register") REGISTER
    |  &nbsp; | &nbsp; 
    a(href="/plan") EVENT PLAN
    |  &nbsp; | &nbsp; 
    a(href="/keys") KEYRING
  .clear
.widepad