include includes/mixins

!!! 5
html
  head
    include includes/head
  body
    #pagewrapper
      include includes/top
      div
        #leftcol
          +cbox("KEYSIGNING PARTY")
            p
              | Our next upcoming keysigning party will be held Friday, October 25 
              | in GHC 4301. There will be a brief help session for unexperienced 
              | users at 4:30pm. The keysigning proper will start at 5:00pm.
            p
              | Please 
              a(href="/register") register
              |  your key(s) for the event in advance. It will not be possible to 
              | sign keys that are submitted later than 5:00pm EST. Registration 
              | will be available starting Monday, October 21.
            p
              | Refer to our 
              a(href="/plan") event plan
              |  for important information about how to participate in the 
              | keysigning. If this is your first keysigning party, you are 
              | strongly encouraged to show up at 4:30 to make sure you've got 
              | everything ready to go.
        #rightcol
          +cbox("RESOURCES")
            include includes/resources
      include includes/bottom