include includes/mixins

!!! 5
html
  head
    include includes/head
  body
    #pagewrapper
      include includes/top
      div
        #leftcol
          +cbox("REGISTER")
            p
              | The registration system will be live on Monday, October 21, 2013. 
        #rightcol
          +cbox("RESOURCES")
            include includes/resources
      include includes/bottom