include includes/mixins

!!! 5
html
  head
    include includes/head
  body
    #pagewrapper
      include includes/top
      div
        #leftcol
          +cbox("GENERATE YOUR KEY")
            p
              | Follow the instructions linked in the sidebar at right to 
              | generate your private key. We 
            strong strongly recommend
              |  that you create a passphrase to protect against unauthorized 
              | use of your key, and that you set an expiration date for your 
              | key.
          +cbox("REGISTER")
            form(method="post",action="/addKey")
              p
                | Paste the ASCII-armored public keyfile:
              textarea(name="pubkey",style="width:100%;height:400px;")
              p
                | Type "yes" if you are a human:
              input(type="text",name="human")
              br
              input(type="submit",value="Register your key")
        #rightcol
          +cbox("RESOURCES")
            include includes/resources
      include includes/bottom