// cbox declaration
mixin cbox(title)
  .cbox
    .section-tag= title
    if block
      block
  .widepad

!!! 5
html
  head
    title CMU Computer Club - Keystorm Keysigning Party Server
    link(rel="stylesheet",type="text/css",href="http://www.cmucc.org/html5reset.css")
    link(rel="stylesheet",type="text/css",href="http://www.cmucc.org/style.css")
    // link(rel="stylesheet",type="text/css",href="style.css")
  body
    #pagewrapper
      #header
        #logotype
          img(src="http://www.cmucc.org/logo.png",alt="Carnegie Mellon Computer Club")
        #menu
          a(href="/") HOME
          | &nbsp; | &nbsp;
          a(href="/register") REGISTER
          | &nbsp; | &nbsp;
          a(href="/plan") EVENT PLAN
        .clear
      .widepad
      div
        #leftcol
          +cbox("REGISTER")
            p
              | The registration system will be live on Monday, October 21, 2013. 
        #rightcol
          +cbox("RESOURCES")
            ul
              li: a(href="http://www.apache.org/dev/openpgp.html#key-gen-generate-key") Generating a key
              li: a(href="http://www.apache.org/dev/key-transition.html") Transitioning keys
              li: a(href="http://cryptnet.net/fdp/crypto/keysigning_party/en/keysigning_party.html") About keysigning parties
      .clear
      .widepad
      #footer
        | Copyright 2004-2013 CMU Computer Club
        br 
        | Send comments or issues about this site to 
        a(href="mailto:webmaster@club.cc.cmu.edu") webmaster@club.cc.cmu.edu
      script(type="text/javascript"). 
        if (document.getElementById('menu').offsetWidth < 350) {
          if (document.getElementById('menu').offsetWidth < 240)
            document.getElementById('menu').style.width = '200px';
        document.getElementById('rightcol').style.width = document.getElementById('menu').offsetWidth - 5 + 'px';
        }
        document.getElementById('leftcol').style.width = 775 - document.getElementById('rightcol').offsetWidth + 'px';